extends layout.pug

block content
    section#content
        if names
            table
                tr
                    th First
                    th Last
                each name in names
                    tr
                        if name.first
                            td= name.first
                        else
                            td= "N/A"
                        if name.last
                            td= name.last
                        else
                            td= "N/A"
    h2= text
    if hint
        p
            i Hint: #{hint}
        p
            a(href=`${flipUrl}`)
                i Answer
                br
                a(href='/cards') Next Card
    else
        p
            i Q: #{question}
        p
            a(href=`${flipUrl}`)
                i Question
                br
                a(href='/cards') Next Card


    
